<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <div class="container"> 
        <div class="text-center">
    <nav>
        <%- include('./partials/nav.ejs') %>
      </nav>
    <h1 class="display-3 bg-warning">Edit Cabinet Item </h1>
    <form class="form-group text-white" action="/cabinets/<%=cabinet.id%>?_method=PUT" method="POST">
          Brand Name: <input class="form-control" type="text" name="name" value="<%=cabinet.name%>"/><br/>
          Type of Alcohol: <input class="form-control" type="text" name="type" value="<%=cabinet.type%>"/><br/>
          Light or Dark: <input class="form-control" type="text" name="color" value="<%=cabinet.color%>"/><br/>
          Notes: <input class="form-control" type="text" name="notes" value="<%=cabinet.notes%>"/><br/>
          Quantity: <input class="form-control" type="number" name="quantity" value="<%=cabinet.quantity%>"/><br/>
          In Stock:
        <input type="checkbox" name="inStock"
            <% if(cabinet.inStock === true) { %>
                checked
            <% } %>
        />
        <br/>
        <button type="submit" class="btn btn-primary">Submit Changes</button>
    </form>
    </div>
   </div> 
</body>
</html>