  
<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
    <body>
        <div class="text-center">
            <img class="img-fluid" src="views/partials/taylor-friehl-_hoJzB7UBdM-unsplash.jpg"/>
        
        <nav>
            <%- include('./partials/nav.ejs') %>
        </nav>
        <h1>My Cabinet</h1>
        <a href="/cabinets/new">Add New Item</a>
        <ul>
            <% for(let i = 0; i < cabinets.length; i++){ %>
            <li>
                <a href="/cabinets/<%=cabinets[i].id %>">
                    <%=cabinets[i].name; %>
                </a>
                is a <%=cabinets[i].type; %>.
                
                <% if(cabinets[i].inStock === true){ %>
                    We have <%=cabinets[i].quantity ;%> bottle(s) in the cabinet.
                <% } else { %>
                    Seems like we need to make a run to the package store or put it on the wishlist
                <% } %>
                <form action="/cabinets/<%= cabinets[i].id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"/>
                </form>
                <a href="/cabinets/<%=cabinets[i].id %>/edit">Edit</a>
            </li>
            
            <% } %>
        </ul>
    </div>
    </body>
</html>