  
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Cabinet Index Page</h1>
        
        <ul>
            <% for(let i = 0; i < cabinets.length; i++){ %>
              <li>
                <a href="/cabinets/<%=cabinets[i].id %>">
                    <%=cabinets[i].name; %>
                </a>
                is a <%=cabinets[i].type; %>.
                
                <% if(cabinets[i].inStock === true){ %>
                    We have <%=cabinets[i].quantity ;%> bottle(s) in the cabinet.
                <% } else { %>
                    Seems like we need to make a run to the package store or put it on the wishlist
                <% } %>
                <form action="/cabinets/<%= cabinets[i].id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"/>
                </form>
                <a href="/cabinets/<%=cabinets[i].id %>/edit">Edit</a>
            </li>
            <% } %>
        </ul>
    </body>
</html>